<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to 'FundMyProject', projects_path, class: "navbar-brand #{yield(:home_active)}" %>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
            <li class="nav-item">
      <%= link_to 'Submit New Project', new_students_project_path, class: "nav-link #{yield(:snp_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'About', about_path, class: "nav-link #{yield(:about_active)}" %>
      </li>
      
     <% if student_signed_in? %>
      
      <li class="nav-item">
          <%= link_to 'My Projects', students_projects_path, class: "nav-link #{yield(:student)}" %>
        
      </li>
       <li class="nav-item">
            <%= link_to 'Logout', destroy_student_session_path, method: :delete, class: "nav-link" %>
          </li>

          <% else %>
         <li class="nav-item">
            <%= link_to 'Sign In',  new_student_session_path,  class: "nav-link" %>
          </li>

        <% end %>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>